<div class="container-fluid  pt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="bread ">
                    <div>
                        <span><a routerLink="/view/admin">Account </a> </span>
                        <i class="fa fa-caret-right ml-2" aria-hidden="true"></i><a routerLink="/view/admin/user">
                            Group </a>
                        <i class="fa fa-caret-right ml-2" aria-hidden="true"></i><b> Detail</b>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                    <div class="col-md-12 border-bottom">
                                            <div class="ml-auto text-right pb-2">
                                                <div class="btnn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn"><i class="fa fa-floppy-o"
                                                            aria-hidden="true"></i><span>Save</span> </button>
                                                    <button type="button" class="btn"><i class="fa fa-refresh"
                                                            aria-hidden="true"></i><span>Refresh</span> </button>
                                                </div>
                                            </div>
                                        </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Group  Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Effective Date</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="dd-mm-yyyy" (click)="d1.toggle()"
                                                    name="dp" ngbDatepicker #d1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="datebtn" (click)="d1.toggle()" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Parent Group Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Code Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Impact Profit & Loss</label>
                                                <div>
                                                        <input type="checkbox" name="" id="">
                                                </div>
                                        
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Nature of Group</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>  
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
