<div class="container-fluid  pt-5">
    <div class="bread">
        <div>
            <span>Admin</span>
            <!-- <i class="fa fa-caret-right ml-2" aria-hidden="true"></i> -->
        </div>
    </div>
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-7">
                <div class="container-fluid px-3">
                    <div class="row">
                        <div class="col-md-6 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-user" aria-hidden="true"></i> User Configuration
                                </span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/user">
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/RoleSearch">
                                        Role
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/GroupSearch">
                                        Group
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Resource">
                                        Resource
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-laptop" aria-hidden="true"></i> System Configuration</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/ConfigSearch">
                                        Configuration
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/AuditSearch">
                                        Audit Log
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/ProcessLog">
                                        Process Log
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/EmailTracking">
                                        Email Tracking
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-cogs" aria-hidden="true"></i> Master Configuration</span></h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Region">
                                        Region
                                    </a>
                                </li>
                                
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Location">
                                        Location
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Branch">
                                        Branch
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Department">
                                        Department
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Team">
                                        Team
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-cogs" aria-hidden="true"></i> Copra Configuration</span></h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Region">
                                        Province / Island
                                    </a>
                                </li>
                                
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/Location">
                                        System Config
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/admin/GradePricing">
                                      Grade Pricing
                                    </a>
                                </li>                               

                            </ul>
                        </div>
                        <div class="col-md-6 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-cog" aria-hidden="true"></i> Setting</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Clear Cache
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Refresh DB
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 sub-menu mb-xl-0 px-2 py-3">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        User Summary
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container-fluid px-3">
                    <div class="row">
                        <div class="col-md-12 pt-3">
                            <h6>Location</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table  table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Location</th>
                                        <th>Branch</th>
                                        <th>Manager</th>
                                        <th>Contact No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <h6>Team</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table  table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Department</th>
                                        <th>Team</th>
                                        <th>Begin Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="container-fluid menuFooter border-top b-0">
        <div class="row">
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Total Users</div>
                    <div class="content1">63/63</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Location / Branch</div>
                    <div class="content1">3/3</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Department / Team</div>
                    <div class="content1">5/5</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Group / Role</div>
                    <div class="content1">77/127</div>

                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Email - Today / Total</div>
                    <div class="content1">0/1</div>

                </div>
            </div>
        </div>
    </div>

</div>