<div class="container-fluid  pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="bread ">
                <div>
                    <span>Admin</span>
                    <i class="fa fa-caret-right ml-2" aria-hidden="true"></i> Group <i class="fa fa-caret-right ml-2"
                        aria-hidden="true"></i> Detail
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ml-auto text-right">
                                    <div class="btnn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn"><i class="fa fa-floppy-o"
                                                aria-hidden="true"></i><span>Save</span> </button>
                                        <button type="button" class="btn"><i class="fa fa-refresh"
                                                aria-hidden="true"></i><span>Refresh</span> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Group Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Status</label>
                                    <select class="form-control">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Begin Date</label>

                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd-mm-yyyy" (click)="d1.toggle()"
                                            name="dp" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="datebtn" (click)="d1.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">End Date</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd-mm-yyyy" (click)="d2.toggle()"
                                            name="dp" ngbDatepicker #d2="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="datebtn" (click)="d2.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 mt-1">
            <div class="card">
                <!-- <div class="card-header">
                    Additional Info
                </div> -->
                <div class="card-body">

                    <form>
                        <div class="container-fluid">
                            <div class="row verticaltab">
                                <div class="col-md-2 px-0">
                                    <div class="tab nopadding">
                                        <ul class="nav nav-tabs">

                                            <li class="nav-item ">
                                                <a data-toggle="tab" class="nav-link active" href="#role">Role
                                                    Details</a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" href="#user">User details</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-10 px-0">
                                    <div class="wizcontent1">
                                        <div class="tab-content">

                                            <div id="role" class="tab-pane active">
                                                <div class="col-md-12 pl-1 pr-0 ml-auto mb-1 text-right">

                                                    <div class="btnn-group" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn" (click)="open(content)"><i
                                                                class="fa fa-plus"></i><span>New</span> </button>
                                                        <button type="button" class="btn "
                                                            (click)="openSearchPanel()"><i class="fa fa-folder-open-o"
                                                                aria-hidden="true"></i><span>Open</span> </button>
                                                        <button type="button" class="btn"><i class="fa fa-trash"
                                                                aria-hidden="true"></i><span>Delete</span> </button>
                                                    </div>

                                                </div>
                                                <div class="col-md-12 mt-1 pl-1 pr-0 ">
                                                    <div class="card">
                                                        <div class="table-responsive">
                                                            <table class="table table-sm table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Role Name</th>
                                                                        <th>Begin Date</th>
                                                                        <th>End Date</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Value</td>
                                                                        <td>Value</td>
                                                                        <td>Value</td>
                                                                        <td>Value</td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="user" class="tab-pane">
                                                <div class="f-narrow ">

                                                    <div class="col-md-12 pl-1 pr-0 mt-1 ">
                                                        <div class="card">
                                                            <div class="table-responsive">
                                                                <table class="table table-sm table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>User ID</th>
                                                                            <th>Login ID</th>
                                                                            <th>Full Name</th>
                                                                            <th>Group Begin Date</th>
                                                                            <th>Group End Date</th>
                                                                            <th>User Status</th>
                                                                            <th>Group Status</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                            <td>Value</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Role Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Module Name :</label>

                    <select class="form-control">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label>Role Name :</label>

                    <select class="form-control">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label>Begin Date :</label>

                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" (click)="d5.toggle()"
                            ngbDatepicker #d5="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="datebtn input-group-text" (click)="d5.toggle()" type="button">
                                <i class="fa fa-calendar text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>End Date :</label>

                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" (click)="d6.toggle()"
                            ngbDatepicker #d6="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="datebtn input-group-text" (click)="d6.toggle()" type="button">
                                <i class="fa fa-calendar text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>Status :</label>

                    <select class="form-control">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button class="btn ">
            <i class="fa fa-save"></i><span> Save</span>
        </button>
        <button class="btn">
            <i class="fa fa-refresh"></i><span> Refresh</span>
        </button>
        <button class="btn">
            <i class="fa fa-eraser"></i><span> Clear</span>
        </button>
    </div>
</ng-template>