<div class="container-fluid  pt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="bread ">
                    <div>
                        <span>Accounts</span>
                        <i class="fa fa-caret-right ml-2" aria-hidden="true"></i> Company Approval
                    </div>
                </div>
            </div>
    
    
          
            <div class="col-md-12 mt-1  d-flex">
                <p class="s-text ">Showing 1 - 10 of 14 results</p>
                <div class="ml-auto text-right">
                    <ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive panelh">
                        <table class="table table-sm table-hover">
                                <thead class="thead-light">
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Effective Date</th>
                                            <th>Email ID</th>
                                            <th>Phone No</th>
                                            <th>Address</th>
                                            <th>Website</th>
                                            <th>Status</th>
                                            <th>Activation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="address"></td>
                                            <td></td>
                                            <td></td>
                                            <td style=" max-width: 85px;">
                                                <a href="">Approve</a> 
                                                <a href="">Resend link</a>
                                            </td>
                                        </tr>
                                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>