<div class="container-fluid pt-5">
    <div class="bread">
        <div>
            <span>Accounts</span>
            <!-- <i class="fa fa-caret-right ml-2" aria-hidden="true"></i> -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="container-fluid px-5">
                    <div class="row">
                        <div class="col-md-3 sub-menu mb-xl-0  pt-2">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-cog" aria-hidden="true"></i> Configuration</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/companyDetail">
                                        My Company
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/CompanySearch">
                                        Company Search
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/companyApproval">
                                        Company Approval
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/CompanyBranchBank">
                                        Company Branch Bank
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/VoucherSearch">
                                        Vouchers
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/VoucherAccount">
                                        Voucher Account
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/ResourceSearch">
                                        Customer
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/VendorSearch">
                                        Vendor
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/TaxSearch">
                                        Tax
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/ExchangeRateSearch">
                                        Exchange Rate configuration
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 sub-menu mb-xl-0  pt-2">
                            <h6 class="sub-title  ">
                                <span>
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Vouchers
                                </span> </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/Configuration">
                                        Vouchers
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/AuditLog">
                                        Credit Note
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/ProcessLog">
                                        Debit Note
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/EmailTracking">
                                        Fund Transfer Note
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/EmailTracking">
                                        Journal Adjustment
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/EmailTracking">
                                        Reversing Joumals
                                    </a>
                                </li>
                            </ul>
                            <h6 class="sub-title pt-2 "> <span><i class="fa fa-bar-chart" aria-hidden="true"></i>
                                Dashboard</span></h6>
                        <ul class="list-unstyled">
                            <li>
                                <a class="menu-item pl-0" routerLink="/">
                                    Finance Summary
                                </a>
                            </li>
                            <li>
                                <a class="menu-item pl-0" routerLink="/">
                                    Receivables
                                </a>
                            </li>
                            <li>
                                <a class="menu-item pl-0" routerLink="/">
                                    Payables
                                </a>
                            </li>
                        </ul>
                        </div>
                        <div class="col-md-3 sub-menu mb-xl-0 pt-2">
                            <h6 class="sub-title  ">
                                <span><i class="fa fa-money" aria-hidden="true"></i> Finance</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/Group">
                                        Group
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/Ledger">
                                        Ledgers
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/LedgerTransaction">
                                        Ledger Transactions
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/ChequeRegSearch">
                                        Cheque Register
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/CashRegSearch">
                                        Cash Register
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/view/account/BankRegSearch">
                                        Bank Register
                                    </a>
                                </li>
                            </ul>
                            <h6 class="sub-title pt-2 "> <span><i class="fa fa-cog" aria-hidden="true"></i> Setting</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Clear Cache
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3 sub-menu mb-xl-0  pt-2">
                                <h6 class="sub-title  "><span><i class="fa fa-file-text" aria-hidden="true"></i>
                                        Reports</span> </h6>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            Trial Balance
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            Ledger Reports
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            P & L Statement
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            Balance Sheet
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            Bank Recouncilation
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            Fund Flow Projection
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            VAT Return
                                        </a>
                                    </li>
                                    <li>
                                        <a class="menu-item pl-0" routerLink="/">
                                            Cheque Return Uncleared
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
                        <!-- <div class="col-md-3 sub-menu mb-xl-0  pt-2">
                            <h6 class="sub-title  "> <span><i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    Dashboard</span></h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Finance Summary
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Receivables
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Payables
                                    </a>
                                </li>
                            </ul>
                        </div>        -->
                        <!-- <div class="col-md-3 sub-menu mb-xl-0  pt-2">
                            <h6 class="sub-title  "> <span><i class="fa fa-cog" aria-hidden="true"></i> Setting</span>
                            </h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="menu-item pl-0" routerLink="/">
                                        Clear Cache
                                    </a>
                                </li>

                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container-fluid px-3">
                    <div class="row">
                        <div class="col-md-12 pt-2">
                            <h6>Receivables</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table  table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>Invoice No</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>12345</td>
                                        <td>12/05/2019</td>
                                        <td>$ 1,000</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>564564</td>
                                        <td>15/05/2019</td>
                                        <td>$ 2,000</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <h6>Payables</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table  table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Vendor Name</th>
                                        <th>Invoice No</th>
                                        <th>Due Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid border-top menuFooter">
        <div class="row">
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Total Ledger</div>
                    <div class="content1">11</div>
                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Asset</div>
                    <div class="content1">-$1,23.00</div>
                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Liability</div>
                    <div class="content1">$0.00</div>
                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Expense</div>
                    <div class="content1">-$866.00</div>
                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Receivables</div>
                    <div class="content1">$2866.00</div>
                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Payables</div>
                    <div class="content1">$7,843.00</div>
                </div>
            </div>
            <div class="col-md-2x">
                <div class="card m-2 text-center">
                    <div class="content2">Net P&L</div>
                    <div class="content1">$2,580.00</div>
                </div>
            </div>
        </div>
    </div>

</div>