<!-- <div class="alertx">
    <div class="alertBox">
        <div class="alert-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="header-content">
                        <div class="col-md-6 px-0">
                            Alert Error
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="closeBtn ml-auto text-right">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert-content text-center mt-3">
            <div class="text-danger">officially the Islamic Republic of Pakistan, is a country in South Asia. It is the world’s sixth-most populous country with a population exceeding 212,742,631 people. In area, it is the 33rd-largest country, spanning 881,913 square kilometres.</div>

            <div>
                <button class="btn btn-error-Ok"> ok </button>
            </div>
        </div>
    </div>
</div> -->
<div class="alertPosition">
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>

    <div class="alert alert-info" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div class="alert alert-warning" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>


</div>
