<div class="container-fluid  pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="bread ">
                <div>
                    <span>Purchase</span>
                    <i class="fa fa-caret-right ml-2" aria-hidden="true"></i> Item Configuration
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-1 mb-3 d-flex">
            <h6 class="mb-0"> Configuration</h6>
            <div class="ml-auto text-right">
                <div class="btnn-group">
                    <button class="btn">
                        <i class="fa fa-save"></i><span> Save</span>
                    </button>
                    <button class="btn">
                        <i class="fa fa-refresh"></i><span> Refresh</span>
                    </button>
                    <button class="btn">
                        <i class="fa fa-eraser"></i><span> Clear</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card py-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Inventory Integration</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Item Description</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">Yes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio4" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio4">NO</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>