.logout{
    border: 1px solid #3c6382;
    border-radius: 5px;
    background-color: #3c6382;
    color: #fff;
    margin-top: 10px;
    
}

.logout span{
    font-size: 16px;
    margin: 0px 10px 6px 4px;
}

.logout:hover
{
background-image:none !important;
background-color:#028c8c !important

}
